.radio-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

li {
  width: 120px;
}

.textbox {
  background-color: #FFFF;
  color: black; /* Set the placeholder text color to gray */
  opacity: 1; /* Ensure the placeholder text is fully visible */
}

.textbox::placeholder {
  color: gray; /* Set the placeholder text color to gray */
  opacity: 1; /* Ensure the placeholder text is fully visible */
}
